<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>input</h1>
    <form action="/input" method="POST">
        <label for="npm">NPM</label><br>
        <input type="text" id="npm" name="npm" value=""><br>
        <label for="nama">Nama</label><br>
        <input type="text" id="nama" name="nama" value=""><br>
        <label for="kelas">Kelas</label><br>
        <input type="text" id="kelas" name="kelas" value=""><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>